<header class="main-header">
  <h1>About Minkepedia</h1>
  <p class="lead">An introduction to the project and its principal elements</p>
  <br>     
</header>

<section>
 
  <div class="page-header">
    <h1>Mission Statement <small>What we want to achieve</small></h1>
  </div>
  
   
  <div class="row">
    <div class="span8">
			<p>Minkepedia is a fun social way to create overviews of fast moving fields of knowledge. Hosted in the cloud 
			and optimized for mobile devices, it provides easy access to complex topics from virtually everywhere.</p>
			<p>Creating and updating comprehensive overviews of complex topics (like e.g. areas of technology or economic 
			ecosystems) is best done in collaboration, where each participant shares his expertise. At the same time
			insightful renditions of a field of knowledge are a creative act, thus authors are supported in teaming up in 
			a way they see fit. Correct attribution is crucial as an incentive for participation and to foster reputation.</p>
			<p>Diversity is
			important to us. One rendition of a field of knowledge cannot equally well represent all aspects of the topic nor 
			can it express all individual views on it. Thus, Minkepedia facilitates the creation of diverse approaches to
			visualizing a field of knowledge and creating individual variations of these approaches (aka forking).</p> 
			<p>Minkepedia is a visual reference to topics of interest (aka Minke Terms) and their relations to one 
			another. It does not provide detailed information about individual topics on itself, but merely acts as a pointer
			to authoritative resources in the web with <a href="http://www.wikipedia.org" target="_blank">Wikipedia</a> as its
			main reference.
			</p>      
			<p>Minkepedia is a community effort. Its content can be freely accessed and everybody is invited to participate.
			Minkepedia is intended to be Open Source. The source code of the cloud app and this website will be published on 
			Github. 
			</p>
    </div>
  </div>
</section>


<section>
 
  <div class="page-header">
    <h1>Current Status <small>aka Expectation Management</small></h1>
  </div>

  <div class="row">
    <div class="span8">
      <p>Minkepedia is work in progress. We are still far from realizing our vision to its full extend.
      </p>
    </div>
  </div>
</section>


<section>
 
  <div class="page-header">
    <h1>Further Reading</h1>
  </div>
 
  <div class="row">
    <div class="span12">
      <p>See this (rather old but still mostly valid) slides for another quick introduction to the project: 
      <a href="slides/minkepedia-slides.pdf">Minkepedia slides</a>.</p>      
    </div>
  </div>  
</section>



