
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit" style="margin-bottom: 10px">
        
        
        <img src="img/minke-logo.svg">
        
        <div class="img-side-txt">
          <h1>The World at a Glance</h1>
          
	        <p>Every day, new products are launched, new companies founded, new concepts evolve. Markets shift, strategies 
	        crumble, new alliances are forged. Can we stay on top of every development?
	         
	        <p>Every day, we scan myriads of tweets, posts, articles, books and the like. The supply of 
	        information is vast and ever expanding, access is easy and instant. But is there an important aspect we are 
	        missing? Do we realize all the connections, all the implications? </p> 
	        <p>Do <a href="theWhale.html">what the minke whale did</a>: Lay back, gain some overview and <a href="about.html#knowledgeMap">draw a map</a>. ;-)</p>
	        
	        <br>
	        <p><a class="btn btn-primary btn-large" href="about.html">Learn more &raquo;</a></p>
        </div>
        
        <br clear="all">
      </div>

      <!-- 
        Social Media Bar
        -->
	    <div class="row">
	      <div class="span12" id="socialBar">


            <!-- 
              Google+
              -->
            <div>
              <div class="g-plusone" data-size="medium" data-align="right" data-annotation="bubble" data-href="http://www.minkepedia.org"></div>
            </div>  
            <script>
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            </script>
            
            
            <!-- 
              Facebook
              -->
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-like" data-href="http://www.minkepedia.org" 
                 data-send="true" data-layout="button_count" data-width="150" data-show-faces="false" 
                 data-action="like"></div>


			      <!-- 
			        Twitter
			        -->
			      <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-align="right" data-width="100px">Tweet</a>
			      <a href="https://twitter.com/minkepedia" class="twitter-follow-button" 
			         data-show-count="false" data-lang="en" data-align="right" data-width="135px">Follow @minkepedia</a>
			      <script>
			        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
			        if(!d.getElementById(id)){js=d.createElement(s);
			        js.id=id;js.src="//platform.twitter.com/widgets.js";
			        fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
			      </script>
		    </div>
	    </div>	    

      <!-- 
        Additional content
        -->
      <div class="row">
        <div class="span8">
          <h2>An experiment in social knowledge mapping</h2>
           
           <p>When attempting to gain comprehensive insight into a field of knowledge or some other complex subject 
           matter, we often find ourselves at a loss with the typical tools of the modern information worker.
           Conventional search engines (Google), online encyclopedias (Wikipedia), Q&A websites, blogs, social media, 
           etc. all provide us with a cornucopia of information. The web is exceedingly good at answering highly specific 
           questions. But when we are striving for a general grip on a topic, a comprehensive overview of a field of knowledge, 
           an understanding of complex structures and their relations, the web is much less effective in delivering.<p>
           
           <p>So if the knowledge is already there, we just need some better representation! This is one reason why 
           infographics are so popular: They <cite>"provide complex information quickly and clearly."</cite> 
           (from <a href="http://en.wikipedia.org/wiki/Information_graphics">Wikipedia</a>) 
           Most approaches to knowledge provided by the web are (still) text-based. Minkepedia is an attempt to 
           provide a means of a standardized visual approach to represent complex fields of knowledge on the web.</p>
          <p><a class="btn" href="about.html">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Guests are welcome</h2>
          <p>No registration is needed for browsing the knowledge maps of Minkepedia (aka <em>Minke Maps</em>) or the 
          hierarchies of <em>Minke Terms</em>, the maps are built of. Although we are still at an early stage, there is 
          useful content already, you will not find elsewhere.</p>
          <p>Please bear with us, if we cannot yet provide the level of collaboration and 
          social engagement we are  envisioning. Registration is still restricted to friendly users. So is creating
          and editing Minke Maps and Terms.</p>
          <p><a class="btn" href="http://minkepedia.appspot.com" onclick="_gaq.push(['_link', 'http://minkepedia.appspot.com]); return false;";>Browse now &raquo;</a></p>
        </div>
      </div>

