<header class="main-header">
  <h1>Why with the Whale?</h1>
  <br>
  <p class="lead">"What is it about the whale? Why the funny logo?", people keep asking me. I always respond 
  with the same little story, which happened a long time ago far, far away in the sea of knolwedge:</p>
  <br>     
</header>

<section>
 
  <div class="page-header">
    <h1>The tale of the curious little minke whale</h1>
  </div>
 
  <div class="row">
    <div class="span8">
	    <p>There once was a very little minke whale who was greatly curious about the world - as little whales often are.
	    So he went here and there and watched and listened and tried to understand. He got many bits and fragments of 
	    knowledge from other whales. But the only thing he learned for sure was, that everybody else was darting back and 
	    forth frantically in search of knowledge. But nobody really had a broad picture.</p> 
	    <p>One day the little minke whale 
	    became very depressed. He wanted to find the bottom of this. So he dived very deep. And still deeper he went. 
	    But still no bottom. And in his desperation and because he had very little oxygen left, he rose very quickly and 
	    darted out of the water. It was a giant leap. And for the first time the little minke whale had a clear view on 
	    the sea. That was when he began to understand things.  When he splashed back under water he went straight home to 
	    draw a map of what he had seen, so that others could join him in his new insight.</p> 
	    <p>And when the others saw it, many stopped darting around for random bits of knowledge and instead helped in drawing
	    more maps. And soon the vast sea of knowledge became a much less daunting place.</p> 
	  </div>
  </div>  
</section>
 